<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <menu type="toolbar">
        <li>
            <menu label="Файл">
                <menu label="Открыть">
                    <button type="button">Новый...</button>
                    <button type="button">Открыть...</button>
                    <button type="button">Сохранить</button>
                </menu>
            </menu>
        </li>
    </menu>
</body>
</html>