<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs') %>
        <link rel="stylesheet" type="text/css" href="css/bpmn-js/assets/bpmn-js.css">
        <link rel="stylesheet" type="text/css" href="css/bpmn-js/assets/diagram-js.css">
        <link rel="stylesheet" type="text/css" href="css/bpmn-js/assets/bpmn-font/css/bpmn.css">
        <link rel="stylesheet" type="text/css" href="css/modeler.css">
    </head>

<body>
  <div class="container-fluid test">
    <div class="row">
      <nav class="navbar navbar-expand-lg navbar-light bg-light col-sm">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="navbar-brand" href="/">
              <img src="img/logo.svg" height="30px" alt="Gravity" class="logo">
            </a>
          </li>
          <li class="nav-item">
            <button type="button" class="nav-link disabled" id="back_actions" href="/">
                <img src="img/undo_icon.svg" height="30px" alt="">
            </button>
          </li>
          <li class="nav-item">
            <button type="button" class="nav-link disabled" id="undo_actions" href="/">
              <img src="img/redo_icon.svg" height="30px" alt="">
            </button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="content" id="js-drop-zone">

    <div class="message intro">
      <div class="note">
        Перенесите BPMN диаграмму с рабочего стола или <a id="js-create-diagram" href>создайте новую</a> для продолжния.
      </div>
    </div>

    <div class="message error">
      <div class="note">
        <p>Упс, невозможно отобразить BPMN 2.0 диаграмму.</p>
        <div class="details">
          <span>cause of the problem</span>
          <pre></pre>
        </div>
      </div>
    </div>
    <div class="canvas" id="js-canvas"></div>
  </div>

  <ul class="buttons">
    <li>Скачать</li>
    <li><a id="js-download-diagram" href title="download BPMN diagram">BPMN диаграмма</a></li>
    <li><a id="js-download-svg" href title="download as SVG image">SVG изображение</a></li>
  </ul>
  <script src="js/modeler.js"></script>
</body>
</html>