<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="css/bpmn-js/assets/bpmn-js.css">
    <link rel="stylesheet" type="text/css" href="css/bpmn-js/assets/diagram-js.css">
    <link rel="stylesheet" type="text/css" href="css/bpmn-js/assets/bpmn-font/css/bpmn.css">
    <link rel="stylesheet" type="text/css" href="css/bpmn-js-properties-panel/assets/properties-panel.css">
    <link rel="stylesheet" type="text/css" href="css/bpmn-js-properties-panel/assets/element-templates.css">
    <link rel="stylesheet" type="text/css" href="css/modeler.css">
    <link rel="stylesheet" type="text/css" href="css/color-picker.css">
    <link rel="stylesheet" type="text/css" href="css/minimap.css" />
    <link rel="stylesheet" type="text/css" href="css/diagram.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
      crossorigin="anonymous"></script>
</head>

<body class="bodyFlex">
  <div class="container-fluid test">
    <div class="row">
      <nav class="navbar navbar-expand-lg navbar-light bg-light col-sm">
        <ul class="navbar-nav nav_my mr-auto">
          <li class="nav-item">
            <a class="navbar-brand" href="/">
              <img src="img/logo.svg" height="30px" alt="Gravity" class="logo">
            </a>
          </li>
          <li class="nav-item"><a type="button" id="js-download-diagram" class="btn btn-primary disabled" href title="Скачать как BPMN диаграмму">
            BPMN диаграмма</a></li>
          <li class="nav-item"><a type="button" id="js-download-svg" class="btn btn-primary disabled" href title="Скачать как SVG">SVG изображение</a></li>
          <li class="nav-item"><a type="button" id="js-save-diagram" class="btn btn-primary disabled" href="#">Сохранить диаграмму</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="content" id="js-drop-zone">
    <div class="message intro">
      <div style="position: fixed; width: 250px; height: 80%;">
        <h3 style="width: 100%;" class="nav-item">Мои схемы</h3>
        <ul class="nav nav-pills my-custom-scrollbar my-custom-scrollbar-primary" id="schem-list">
          
        </ul>
      </div>
      <div class="note">
        Перенесите BPMN диаграмму с рабочего стола или <a data-toggle="modal" data-target="#diagramModal" href>создайте новую</a> для
        продолжения.
      </div>
    </div>
    <div class="message error">
      <div class="note">
        <p>Упс, невозможно отобразить BPMN 2.0 диаграмму.</p>
        <div class="details">
          <span>Причина</span>
          <pre></pre>
        </div>
      </div>
    </div>
    <div class="canvas" id="js-canvas">
    </div>
  </div>

  <div class="modal fade" id="diagramModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Создание диаграммы</h5>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="diagram-name" class="col-form-label">Имя</label>
                <input type="text" class="form-control" id="diagram-name">
              </div>
            </form>
          </div>
          <div class="modal-footer">
					  <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            <button type="button" class="btn btn-primary" id="js-create-diagram">Создать диаграмму</button>
          </div>
        </div>
    </div>
  </div>

  <script>
    function ctrlButton() {
      document.getElementById("js-create-diagram").disabled = this.value.trim().length === 0;
    }

    document.getElementById("diagram-name").addEventListener('input', ctrlButton, false);
    ctrlButton.call(document.getElementById("diagram-name"));

    var myCustomScrollbar = document.querySelector('.my-custom-scrollbar');

    var scrollbarY = myCustomScrollbar.querySelector('.ps__rail-y');

    myCustomScrollbar.onscroll = function () {
      scrollbarY.style.cssText = `top: ${this.scrollTop}px!important; height: 400px; right: ${-this.scrollLeft}px`;
    }
  </script>
  <script src="js/modeler.js"></script>

</body>

</html>
